<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>353876828746-u8fnti6e6re7pq89voqn8mqekl5mjjm6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.353876828746-u8fnti6e6re7pq89voqn8mqekl5mjjm6</string>
	<key>API_KEY</key>
	<string>AIzaSyAq5u88AS_COMKzxzw8D-iR3zRjAI8Ws1Y</string>
	<key>GCM_SENDER_ID</key>
	<string>353876828746</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AChapApps.QK</string>
	<key>PROJECT_ID</key>
	<string>quote-keeper-30c5a</string>
	<key>STORAGE_BUCKET</key>
	<string>quote-keeper-30c5a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:353876828746:ios:cbe5b73c56a7f820527cb3</string>
	<key>DATABASE_URL</key>
	<string>https://quote-keeper-30c5a.firebaseio.com</string>
</dict>
</plist>